<div class="courses courses--{{ include.position }}">
  <a class="courses__out" href="https://ultimateangular.com/courses/?utm_source=toddmotto.com" target="_blank">
    <img class="courses__logo" src="{{ site.baseurl }}/img/ua.svg" alt="">
    <h3>
      Master Angular and TypeScript with me.
    </h3>
    <p>
      Tired of wrestling incomplete documentation, old videos and tutorials?
    </p>
    <p>
      Join me over at Ultimate Angular to learn everything you'll need.
    </p>
    <button type="button">
      Let's go!
    </button>
  </a>
  <a class="courses__out" href="https://ultimateangular.com/ngrx-store-effects?utm_source=toddmotto.com" target="_blank">
    <img class="courses__img" src="{{ site.baseurl }}/img/icons/ngrx.png" alt="">
    <h3>
      Free NGRX store + effects course
    </h3>
    <p>
      Master effective and scalable state management for your Angular apps.
    </p>
    <p>
      Coming November 2017.
    </p>
    <button type="button">
      Preorder FREE
    </button>
  </a>
</div>
