<header class="header">
  <div class="header__img">
    <img src="{{ site.baseurl }}/img/todd.jpg" alt="Todd Motto">
    <p>Todd Motto</p>
    <span>Owner, Ultimate Angular</span>
  </div>
  <div class="header__twitter">
    <a href="https://twitter.com/toddmotto" class="twitter-follow-button" data-show-count="true"></a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </div>
  <nav class="nav">
    <a href="/" class="nav__link{% if page.url == '/' %} nav__link--active{% endif %}">
      <img src="{{ site.baseurl }}/img/nav/blog.svg" alt="">
      Blogs
    </a>
    <a href="/about" class="nav__link{% if page.url == '/about' %} nav__link--active{% endif %}">
      <img src="{{ site.baseurl }}/img/nav/about.svg" alt="">
      About
    </a>
    <a href="/speaking" class="nav__link{% if page.url == '/speaking' %} nav__link--active{% endif %}">
      <img src="{{ site.baseurl }}/img/nav/speaking.svg" alt="">
      Speaking events
    </a>
    <a href="//ultimateangular.com/courses/" target="_blank" class="nav__link{% if page.url == '/courses' %} nav__link--active{% endif %}">
      <img src="{{ site.baseurl }}/img/nav/video.svg" alt="">
      <img src="{{ site.baseurl }}/img/nav/external.svg" alt="" class="nav__external">
      Online courses
    </a>
  </nav>
  <div class="header__links">
    <a href="//twitter.com/toddmotto" target="_blank">
      <img src="{{ site.baseurl }}/img/icons/twitter.svg" alt="Todd Motto on Twitter">
    </a>
    <a href="//github.com/toddmotto" target="_blank">
      <img src="{{ site.baseurl }}/img/icons/github.svg" alt="Todd Motto on GitHub">
    </a>
    <a href="//youtube.com/toddmotto" target="_blank">
      <img src="{{ site.baseurl }}/img/icons/youtube.svg" alt="Todd Motto on YouTube">
    </a>
    <a href="//facebook.com/toddmottoblog" target="_blank">
      <img src="{{ site.baseurl }}/img/icons/fb.svg" alt="Todd Motto on Facebook">
    </a>
    <span>
      &copy; {{ site.time | date: '%Y' }}
    </span>
  </div>
</header>
<div class="banner">
  <form class="search">
    <input type="text" placeholder="Search posts">
    <ul></ul>
  </form>
</div>
