.post-card {
  background: #fff;
  border: 1px solid lighten($brand, 30%);
  flex: 1 0 33.33%;
  margin: -1px 0 0;
  overflow: hidden;
  position: relative;
  padding: 35px;
  @media screen and (max-width: 1100px) {
    flex: 1 0 50%;
  }
  @media screen and (max-width: 580px) {
    flex: 1 0 100%;
  }
  &:nth-child(1n) {
    border-right: 0;
  }
  &-edit {
    color: $text-color-light /*#8598b9*/ !important;
  }
  &__container {
    margin: 20px 0 0;
    display: flex;
    flex-wrap: wrap;
  }
  &__meta {
    font-size: 14px;
    height: 32px;
    color: $text-color-light /*#8598b9*/;
    position: relative;
    padding: 0 0 0 40px;
    margin: 5px 20px 5px 0;
    display: flex;
    align-items: center;
    @media only screen and (max-width: 600px) {
      flex: 0 0 40%;
    }
  }
  &__tag {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background: #f5f7fd;
    border: 1px solid #e6edfb;
  }
  a {
    display: block;
    color: $text-color;
    transition: all .2s ease;
    &:hover {
      color: $text-color-light;
    }
  }
  p {
    margin: 0;
  }
  &__title {
    font-size: 22px;
    line-height: 28px;
    margin: 30px 0;
  }
}

/*
 * NAV
 */
.nav {
  font-family: 'tt-medium';
  color: #fff;
  &__external {
    width: 250px;
    opacity: 1;
    background: $couleur-foncee;
    padding: 5px;
  }
  &__link {
    position: relative;
    color: #fff;
    text-decoration: none;
    letter-spacing: .5px;
    display: block;
    padding: 12px 20px;
    font-size: 16px;
    transition: all .2s ease;
    background: $couleur-foncee;
    &--active {
      background: darken($couleur-foncee, 4%);
    }
    img {
      margin: 0 10px 0 0;
    }
    &:hover {
      color: #fff;
      background: darken($couleur-foncee, 2%);
    }
  }
}

.signup-form {
  flex: 1 0 33.33%;
  margin: -1px 0 0;
  overflow: hidden;
  position: relative;
  padding: 30px 20px;
  background: #51b46d;
  color: #fff;
  text-align: center;
  @media screen and (max-width: 1100px) {
    flex: 1 0 50%;
  }
  @media screen and (max-width: 580px) {
    flex: 1 0 100%;
  }
  &.signup-form--sidebar {
    border-radius: 4px;
    margin: 25px 0;
  }
  &__title {
    margin: 0;
    font-size: 22px;
    img {
      display: inline-block;
      width: 50px;
    }
    span {
      margin: 15px 0 0;
      display: block;
    }
  }
  &__sub {
    font-size: 16px;
    color: #fff !important;
  }
  form {
    position: relative;
    width: 100%;
    input.email {
      -webkit-appearance: none;
      background: rgba(0, 0, 0, 0.1);
      outline: 0;
      width: 100%;
      margin: 0;
      border: 0;
      color: #fff;
      height: 50px;
      font-size: 16px;
      border-radius: 4px 4px 0 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      padding: 0 15px;
      -webkit-transition: all .2s ease;
      transition: all .2s ease;
      text-align: center;
      &:focus,
      &:hover {
        background: rgba(0, 0, 0, 0.15);
      }
      &::-webkit-input-placeholder {
        color: #fff;
      }
    }
    button {
      border: 0;
      outline: 0;
      width: 100%;
      height: 50px;
      cursor: pointer;
      padding: 0 25px;
      background: #fff;
      color: #49a262;
      font-family: 'tt-medium';
      border-radius: 0 0 4px 4px;
      text-align: center;
      img {
        position: absolute;
        top: 8px;
        right: 15px;
      }
    }
  }
}

.toc {
  background: #f7f8fb;
  padding: 35px;
  margin: 0 0 25px;
  border-radius: 4px;
  border: 1px solid darken(#f7f8fb, 5%);
  @media screen and (max-width: 600px) {
    padding: 35px 15px;
  }
  p {
    margin: 0;
  }
  ul {
    li {
      list-style: none;
      position: relative;
      padding: 4px 15px;
      &:before {
        position: absolute;
        top: 5px;
        left: -14px;
        content: '';
        background: url(../img/icons/link.svg) no-repeat 0 0;
        background-size: contain;
        opacity: .3;
        width: 22px;
        height: 22px;
      }
    }
  }
  span {
    color: #545e6f;
    font-family: 'tt-medium';
    margin: 0 0 25px;
    display: block;
  }
  a {
    color: #3f4754;
    transition: all .2s ease;
    &:hover {
      color: lighten(#3f4754, 25%);
    }
  }
}

.featured {
  background: $couleur-foncee;
  padding: 25px 0;
  margin: 0 0 25px;
  border-radius: 4px;
  text-align: center;
  p {
    margin: 0;
    color: #fff !important;
  }
  &__latest {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 11px !important;
  }
  &__text {
    display: block;
    color: #fff;
    padding: 0 25px;
    margin: 0 0 15px;
  }
  &__name {
    font-family: 'tt-medium';
    font-size: 18px !important;
  }
  img {
    margin: 20px 0;
    width: 100%;
    @media screen and (max-width: 1100px) {
      width: 40%;
    }
  }
  &__btn {
    background: #24b373;
    color: #fff;
    border: 0;
    outline: 0;
    line-height: 1;
    text-align: center;
    padding: 14px 30px;
    margin: 10px 0 0;
    font-size: 17px;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
    font-family: 'tt-medium';
    cursor: pointer;
    &:hover {
      color: #fff;
    }
  }
}

.share {
  background: #f7f8fb;
  border: 1px solid darken(#f7f8fb, 5%);
  border-radius: 4px;
  padding: 55px 50px;
  margin: 50px 0 0;
  &__title {
    font-size: 26px;
    margin: 0;
    color: #545e6f;
  }
}

.categories {
  background: lighten($brand, 55%)/*#f7f8fb*/;
  border-bottom: 1px solid lighten($brand, 30%) /*darken(#f7f8fb, 5%)*/;
  margin: 0;
  overflow: hidden;
  padding: 0 0 0 35px;
  @media screen and (max-width: 950px) {
    padding: 0;
  }
  p {
    margin: 15px 35px 15px 0;
    float: left;
    font-family: 'tt-medium';
    @media screen and (max-width: 950px) {
      display: none;
    }
  }
  &__container {
    overflow: hidden;
  }
  a {
    display: block;
    color: #545e6f;
    font-size: 16px;
    font-family: 'tt-medium';
    float: left;
    padding: 15px 0;
    text-align: center;
    width: 20%;
    transition: all .2s ease;
    @media screen and (max-width: 600px) {
      width: 50%;
    }
    &.active {
      background: darken(#f7f8fb, 4%);
    }
    &:hover {
      background: darken(#f7f8fb, 2%);
    }
  }
  img {
    width: 20px;
    margin: 0 20px 0 0;
  }
}

.category-banner {
  background: #f7f8fb;
  border-bottom: 1px solid darken(#f7f8fb, 5%);
  padding: 55px 50px;
  margin: 0;
  @media screen and (max-width: 850px) {
    display: none;
  }
  &__title {
    display: flex;
    align-items: center;
    font-size: 26px;
    margin: 0;
    color: #545e6f;
    h1 {
      margin: 0;
    }
    img {
      width: 50px;
      margin: 0 20px 0 0;
    }
  }
  p {
    margin: 25px 0 0 0;
  }
}
