/**
 * POSTS
 */
.posts {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.linkjuice {
  color: #545e6f;
  &:hover {
    color: lighten(#545e6f, 15%)
  }
  position: relative;
  &-icon {
    position: absolute;
    right: 100%;
    display: block;
    opacity: .3;
    padding-right: 10px;
    top: 4px;
    font-size: 65%;
    @media only screen and (max-width: 500px) {
      display: none;
    }
    h3 & {
      top: 8px;
      @media only screen and (max-width: 500px) {
        padding-right: 10px;
      }
    }
  }
  &__icon {
    background: url(../img/icons/link.svg) no-repeat 0 0;
    background-size: contain;
    display: block;
    height: 25px;
    width: 18px;
    h3 & {
      width: 22px;
    }
  }
}


// Post
.post {

  &__ending {
    display: flex;
    flex-wrap: wrap;
  }
  
  &__sidebar {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    padding: 0 0 0 30px;
    &-wrap {
      border: 1px solid #d9e1ef;
      border-radius: 3px;
      background: #fbfcff;
      padding: 30px;
    }
    @media screen and (max-width: 1100px) {
      position: static;
      width: 100%;
      padding: 50px 0 0;
      margin: 50px 0 0;
      border-top: 1px solid #e6edfb;
    }
  }

  &__detail {
    //margin: 0 325px 0 0;
    @media screen and (max-width: 1100px) {
      margin: 0;
    }
  }

  &__content {
    margin: 25px 0;
    position: relative;
  }

  &__header {
    overflow: hidden;
  }

  &.single {
    margin: 0 50px;
    max-width: 1100px;
    @media screen and (max-width: 500px) {
      margin: 0 15px;
    }
    p {
      font-size: 18px;
      line-height: 1.4;
      @media screen and (max-width: 850px) {
        font-size: 16px;
      }
      color: $text-color;
      > a {
        font-family: $font--open-sans--semi;
        color: $green;
        transition: all 0.3s;
        &:hover {
          color: #384454;
        }
      }
    }

    blockquote {
      background: #f8f3ff;
      padding: 30px 60px;
      margin: 40px 0 40px -64px;
      border-left: 4px solid $green;
      position: relative;
      text-align: left;
      @media only screen and (max-width: 500px) {
        
      }
      code {
        color: #6947a0;
        background: #ede5fb;
      }
      p {
        color: #6947a0;
        margin: 0;
        font-size: 16px;
        text-align: left;
        &:first-of-type {
          margin-bottom: 0;
          text-align: left;
          font-size: 16px;
          line-height: 24px;
          @media only screen and (max-width: 540px) {
            font-size: 14px;
          }
        }
      }
    }

    pre {
      position: relative;
      overflow: visible;
      margin: 24px 0 24px -57px;
      white-space: pre;
      word-wrap: normal;
      background: #2f3644;
      border-radius: 0 4px 4px 0;
      color: #C1C2C3;
      @media screen and (max-width: 850px) {
        margin: 48px -50px;
        border-radius: 0;
      }
      @media screen and (max-width: 500px) {
        margin: 32px -24px;
      }
    }

    h2,
    h3 {
      //padding-top: 47px;
      //margin-bottom: 40px;
    }
    h2,
    h3,
    h4 {
      //padding-top: 100px;
      //margin-top: -85px;
    }

    ul {
      margin: 0 0 0 20px;
      padding: 0;
      list-style: disc;
      @media screen and (max-width: 850px) {
        font-size: 14px;
      }
      li {
        ul {
          margin: 0 0 0 35px;
          list-style: circle;
          li {

          }
        }
      }
    }
  }
  &__title {
    @media screen and (max-width: 850px) {
      font-size: 34px;
    }
    @media screen and (max-width: 500px) {
      font-size: 28px;
      line-height: 32px;
    }
    color: $text-color;
    a {
      color: $couleur-foncee;
      text-decoration: none;
      &:hover {
        color: #888;
      }
    }
  }
  &__ad {
    margin: 0 0 25px;
    @media screen and (max-width: 380px) {
      display: none;
    }
  }
  &__meta {
    font-size: 14px;
    color: #b1b1b1;
    font-style: italic;
    position: relative;
    background-color: white;
    padding: 0 10px;
    &__divider {
      height: 1px;
      background-color: #e6edfb;
      width: 100%;
      margin-top: -10px;
      margin-bottom: 39px;
    }
  }

  &__date {
    font-family: $font--open-sans--semi;
    font-weight: bold;
    text-transform: uppercase;
    font-style: normal;
    font-size: 12px;
    color: #8F9CAE;
    line-height: 16px;
  }

  &__edit {
    font-size: 13px;
    color: $green;
    line-height: 16px;
  }
  &__button {
    text-align: center;
    margin: 25px 0 0;
  }
}

.pagination {
  color: #bac1ce;
  background: #f7f8fb;
  text-align: center;
  margin: 0;
  padding: 40px 20px;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      margin: 0 10px 0 0;
      a {
        color: #545e6f;
        transition: color 0.2s ease-in-out;
        &:hover {
          color: #545e6f;
        }
      }
    }
  }
}



/**
 * AUTHOR
 */
.author {
  border-top: 1px solid #d9e1ef;
  padding: 32px 64px;
  display: flex;
  align-items: center;
  color: #21242c;
  background: #f7f8fb;
  margin: 0;
  &__content {
    position: relative;
  }
  &__pic {
    display: table-cell;
    vertical-align: top;
    min-width: 120px;
    @media screen and (max-width: 550px) {
      width: 40%;
      text-align: center;
      margin: 0 auto;
      display: block;
    }
    img {
      vertical-align: bottom;
      border-radius: 50%;
      width: 120px;
      height: 120px;
    }
  }
  &__bio {
    color: $couleur-foncee;
    font-size: 15px;
    display: table-cell;
    vertical-align: middle;
    padding: 0 0 0 24px;
    width: 100%;
    @media screen and (max-width: 550px) {
      min-width: 100%;
      text-align: center;
      padding: 0;
    }
    p {
      margin: 0 0 20px 0;
    }
  }
}

/**
 * SIGNUP
 */
.signup {
  padding: 64px 0;
  margin: 0 -64px;
  background: #fff;
  color: $couleur-foncee;
  border-bottom: 1px solid #d9e1ef;
  text-align: center;
  @media screen and (max-width: 850px) {
    padding: 30px 40px;
    margin: 0 -40px;
  }
  @media screen and (max-width: 500px) {
    padding: 30px 15px;
    margin: 0 -24px;
  }
  #mc_embed_signup {
    margin: 0 5%;
  }
  &__title {
    margin: 0;
  }
  &__sub {
    font-size: 15px;
  }
  form {
    overflow: hidden;
    input.email {
      font-size: 14px;
      float: left;
      max-width: 500px;
      width: 65%;
      border-radius: 150px;
      height: 40px;
      border: 1px solid #e5e5e5;
      padding: 10px 15px;
      @media screen and (max-width: 550px) {
        width: 100%;
      }
      &:focus {
        border-color: darken(#e5e5e5, 10%);
      }
    }
    button {
      position: relative;
      font-family: $font--open-sans--semi;
      text-transform: uppercase;
      cursor: pointer;
      font-size: 14px;
      float: right;
      width: 32%;
      border-radius: 150px;
      background: $green;
      border: 0;
      height: 40px;
      padding: 10px 35px 10px 15px;
      margin: 0 0 0 10px;
      color: $white;
      @media screen and (max-width: 550px) {
        margin: 10px 0 0;
        width: 100%;
        max-width: 100%;
      }
      &:hover {
        background: darken($green, 5%);
      }
      img {
        position: absolute;
        top: 8px;
        right: 15px;
      }
    }
  }
}

.disqus {
  padding: 64px 50px;
  position: relative;
  z-index: 9998;
  background: #fff;
}
