<header class="header">
  <div class="header__img">
    <!--<img src="{{ site.baseurl }}/img/todd.jpg" alt="Todd Motto">-->
      <p><a href="/">Jonathan Martel (Enseignant, Collège de Maisonneuve)</a></p>
  </div>
  <div class="banner">
    <form class="search">
      <input type="text" placeholder="Rechercher">
      <ul></ul>
    </form>
  </div>

  <nav class="nav">

    <!--<a href="/" class="nav__link{% if page.url == '/' %} nav__link--active{% endif %}">
      <img src="{{ site.baseurl }}/img/nav/blog.svg" alt="">
      Articles
    </a>-->
    <!--<a href="/apropos" class="nav__link{% if page.url == '/apropos' %} nav__link--active{% endif %}">
      <img src="{{ site.baseurl }}/img/nav/about.svg" alt="">
      À propos
    </a>-->
    <!--<a href="/speaking" class="nav__link{% if page.url == '/speaking' %} nav__link--active{% endif %}">
      <img src="{{ site.baseurl }}/img/nav/speaking.svg" alt="">
      Speaking events
    </a>-->
    <!--<a href="//ultimateangular.com/courses/" target="_blank" class="nav__link{% if page.url == '/courses' %} nav__link--active{% endif %}">
      <img src="{{ site.baseurl }}/img/nav/video.svg" alt="">
      <img src="{{ site.baseurl }}/img/nav/external.svg" alt="" class="nav__external">
      Online courses
    </a>-->
  </nav>
  <div class="header__links">
    <a href="//twitter.com/jonmartel" target="_blank">
      <img src="{{ site.baseurl }}/img/icons/twitter.svg" alt="Jonathan Martel sur Twitter">
    </a>
    <a href="//github.com/jonathanmartel" target="_blank">
      <img src="{{ site.baseurl }}/img/icons/github.svg" alt="Jonathan Martel sur GitHub">
    </a>
    <a href="//youtube.com/jonasmartel" target="_blank">
      <img src="{{ site.baseurl }}/img/icons/youtube.svg" alt="Jonathan Martel sur YouTube">
    </a>
    
    <span>
     &copy; {{ site.time | date: '%Y' }}
    </span>
  </div>
</header>

