<div class="categories">
  <p>Categories:</p>
  <div class="categories__container">
    <a href="/categories/angular" {% if page.url == '/categories/angular' %}class="active"{% endif %}>
      <img src="/img/tags/angular.svg" alt="All Angular articles">
      Angular
    </a>
    <a href="/categories/angularjs" {% if page.url == '/categories/angularjs' %}class="active"{% endif %}>
      <img src="/img/tags/angularjs.svg" alt="All AngularJS articles">
      AngularJS
    </a>
    <a href="/categories/rxjs" {% if page.url == '/categories/rxjs' %}class="active"{% endif %}>
      <img src="/img/tags/rxjs.svg" alt="All RxJS articles">
      RxJS
    </a>
    <a href="/categories/javascript" {% if page.url == '/categories/javascript' %}class="active"{% endif %}>
      <img src="/img/tags/js.svg" alt="All JavaScript articles">
      JavaScript
    </a>
    <a href="/categories/unity" {% if page.url == '/categories/unity' %}class="active"{% endif %}>
      <img src="/img/tags/unity.svg" alt="All Unity articles">
      Unity
    </a>
  </div>
</div>