<div class="post-card">
  <a href="{{ post.url | prepend: site.baseurl }}" class="post-card__content" title="Read {{ post.title }}">
    <div class="post-card__meta">
      <div class="post-card__tag">
        <img src="{{ site.baseurl }}/img/tags/{% if post.tag %}{{ post.tag }}{% else %}tag{% endif %}.svg" alt="">
      </div>
      {{ post.date | date: "%b %-d, %Y" }}
    </div>
    <h2 class="post-card__title">
      {{ post.title }}
    </h2>
    <p>
      {{ post.content | markdownify | strip_html | truncatewords: 15 }}
    </p>
  </a>
</div>