* {
	margin:0;
	padding:0;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
#carbonads-container {
	position:fixed;
	z-index:99998;
	right:0;
	bottom:0;
	background:#FFF !important;
	background:rgba(255, 255, 255, 0.7) !important;
	border:0 !important;
	padding:30px 0 0 0;
	border-radius:4px;
}
.carbonad {
	background-color:transparent !important;
	border:0 !important;
}
.carbonad-tag {
	color:#444;
}
.carbonad-tag a {
	color:#04A4CC;
}
.hide-ad {
	z-index:99999;
	cursor:pointer;
	width:20px;
	height:20px;
	position:absolute;
	top:5px;
	right:5px;
	background:url(img/hide.png) no-repeat center center;
}

/* New Carbon CSS */

#carbonads {
  display: block;
  float: right;
  overflow: hidden;
  margin-left: 2em;
  padding: 1em;
  max-width: calc(130px + 2em);
  border: solid 1px hsl(0, 0%, 95%);
  background-color: hsl(218, 16%, 98%);
  text-align: center;
  font-size: 12px;
  line-height: 1.5;
}

#carbonads a {
  color: inherit;
}

#carbonads a:hover {
  color: inherit;
}

#carbonads span {
  display: block;
  overflow: hidden;
}

.carbon-img {
  display: block;
  margin: 0 auto 1em;
}

.carbon-text {
  display: block;
  margin-bottom: 1em;
}

.carbon-poweredby {
  display: block;
  text-transform: uppercase;
  font-size: 8px;
}

@media only screen and (min-width: 320px) and (max-width: 759px) {
  #carbonads {
    float: none;
    margin: 0 auto;
    max-width: 330px;
  }
  #carbonads span {
    position: relative;
  }
  #carbonads > span {
    max-width: none;
  }
  .carbon-img {
    float: left;
    margin: 0 1em 0 0;
  }
  .carbon-text {
    float: left;
    margin-bottom: 0;
    max-width: calc(100% - 130px - 1em);
    text-align: left;
  }
  .carbon-poweredby {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
  }
}
